body {
    background-color: #6b8ac448;
}
.nav{
    position: fixed;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background:transparent;
    left: 38.2%;
    z-index: 100;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}
.nav li{
    display:inline-block;
}
.nav a{
    display:inline-block;
    padding:10px;
    font-size: 30px;
    font-family: Orbitron;
}

@font-face {
    font-family: 'Orbitron', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

    font-weight: bold;
    font-style: normal;
}

div.container {
    height: 800px;
    position: relative;
    background:transparent;
}

div.container2 {
    height: 600px;
    position: relative;
    background:transparent;
}

.btn-primary {
    height: 75px;
    width: 150px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    font-family: Orbitron;
}
